@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   font-family: 'Onest', serif;
   line-height: 1.5;
   font-weight: 400;

   color-scheme: light dark;
   color: rgba(255, 255, 255, 0.87);
   background-color: #242424;

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   scroll-behavior: smooth;
   scrollbar-gutter: stable;
}

textarea {
   &::-webkit-scrollbar {
      width: .5rem;
   }

   &::-webkit-scrollbar-thumb {
      border: none;
      cursor: default;
   }
}

::-webkit-scrollbar {
   width: 1rem;
}

::-webkit-scrollbar-track {
   @apply bg-slate-200 dark:bg-slate-800;
}

::-webkit-scrollbar-thumb {
   border: solid;
   @apply rounded-full bg-slate-400 dark:bg-slate-600 border-2 border-slate-200 dark:border-slate-800;
}

.dark-light-bg {
   @apply bg-white bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))];
   @apply dark:bg-neutral-950 dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))];
}
